<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stankin2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <stankin2.Properties.Settings>
            <setting name="User1" serializeAs="String">
                <value>ethanmars56@mail.ru</value>
            </setting>
            <setting name="Pass1" serializeAs="String">
                <value>TgbcGh8Urj0M694jKdgN</value>
            </setting>
            <setting name="User2" serializeAs="String">
                <value>payne5656@mail.ru</value>
            </setting>
            <setting name="Pass2" serializeAs="String">
                <value>TR09GU5RTTEjw6tkrSsx</value>
            </setting>
        </stankin2.Properties.Settings>
    </userSettings>
</configuration>